/* your code here */
.content{
	background-color:black;
	width:100vw;
	height:300px;
}
.bottom-details{
	background-color:#505862;
	width:100vw;
	height:20px;
	padding:5px;
	color:whitesmoke;
	font-size:13px;
	display: flex;
	justify-content:space-between;
}

.policy{
	padding: 0px 25px;
}